<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rockloud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Below declared "SplashActivity" as launcher Activity -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllsongsActivity"
            android:label="@string/allsongs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArtistsActivity"
            android:label="@string/artists"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/albums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FoldersActivity"
            android:label="@string/folders"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlaylistsActivity"
            android:label="@string/playlists"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScanmediaActivity"
            android:label="@string/scanmedia"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EqualizerActivity"
            android:label="@string/equalizer"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SleepActivity"
            android:label="@string/sleep"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NowplayingActivity"
            android:label="@string/nowplaying"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>